<div id="view-nom" class="view">
  <div class="card">
    <div class="field"><label>Buscar práctica ADAARC</label>
      <div class="ac-wrap">
        <div class="fr">
          <input class="fi" type="text" id="nom-q" placeholder="colecistectomía / 01.02..." autocomplete="off" oninput="buscarNom(this.value)" onkeydown="acKey(event,'ac-nom')">
          <button class="mic" id="m-nom" onclick="mic('nom-q','m-nom')">&#127897;</button>
        </div>
      </div>
    </div>
  </div>
  <div id="nom-res"><p style="font-size:12px;color:var(--text3);text-align:center;padding:20px">Escribí para buscar</p></div>
</div>

